.cadastro-usuario-i{
  background-image: url("/Imagem-fundo.png");
  border: solid;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
background-size: cover;
   background-position: center;
}
.card-cadastro-usuario{
  /* border: solid red; */
  height: 70%;
  width: 30%;
  border-radius: 20px;
  background-color: #FFD84D;
  display: flex;
  flex-direction: column;
  padding: 5px;
  
}
.div-titulo-text-usuario-cadastro{
  /* border: solid; */
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-top: 7px;
}
.h1-cadastro-usuario{
/* border: solid; */
display: flex;
justify-content: center;
margin: 13px;
color: #1E90FF;
font-size: 19px;
margin-top: 20px;
}
.h2-cadastro-usuario{
font-size: 12px;
}

/* ///////////////////////Area input////////////////////////// */

.div-inputs-cadastro-usuario{
/* border: solid; */
height: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 11%;
margin-top: 12px;
}
.div-inputs-cadastro-usuario input{
  width: 320px;
  height: 38px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-inputs-cadastro-usuario p{
margin-left: 1px;
}

/*/////////////////////Termos e Botão cadastrar///////////////////////  */

.div-termos-cadastrar-usuario{
  /* border: solid; */
  height: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20%;
}

.button-cadastrar button{
height: 30px;
width: 150px;
border: none;
border-radius: 5px;
cursor: pointer;
}

/* ////////////botão voltar//////////// */

.button-voltar-cadastro{
   position: absolute;
  top: 16px;
  left: 16px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background-color: #FFD84D;
  height: 5%;
  width: 5%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}