.cadastro-usuario-i{
  background-image: url("/Imagem-fundo.png");
  border: solid;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
background-size: cover;
   background-position: center;
}
.card-cadastro-usuario{
  /* border: solid red; */
  height: 70%;
  width: 30%;
  border-radius: 20px;
  background-color: #FFD84D;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.div-titulo-text-usuario-cadastro{
  /* border: solid; */
  height: 20%;
}
.h1-cadastro-usuario{
/* border: solid; */
display: flex;
justify-content: center;
}